<header class="site-header">
  <a href="{{ "/" | relative_url }}">
    <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Site Logo" style="height:100px;">
  </a>
  <nav class="nav">
    {% assign here = page.url | default: '/' %}
    <a href="{{ '/' | relative_url }}" class="{% if here == '/' %}active{% endif %}">Home</a>
    <a href="{{ '/about/' | relative_url }}" class="{% if here contains '/about' %}active{% endif %}">About</a>
    <a href="{{ '/lessons/' | relative_url }}" class="{% if here contains '/lessons' %}active{% endif %}">Lessons</a>
    <a href="https://www.youtube.com/@TheFailedAstrophysicist" target="_blank">YouTube</a>
  </nav>
</header>
